# Gist Configuration
NEXT_PUBLIC_GIST_ID=68b608362e6ec1efd00a65057d1e172c
NEXT_PUBLIC_GIST_USERNAME=RimunAce

# AniList Configuration
NEXT_PUBLIC_ANILIST_USERNAME=Reuzin
NEXT_PUBLIC_ANILIST_ENDPOINT=https://graphql.anilist.co

# Environment
NODE_ENV=development
